[2012-09-15 00:04] njx opened #2 "Browse dialog is too tall at default window height"
The browse dialog is taller than the default height of the Edge Code window, so you can't get to the "Done" button without resizing the window. It should have a max-height of 100%.

[2012-09-15 00:12] njx opened #3 "Code complete for font names doesn't interact well with quick editors"
1. Trash prefs and open Edge Code (so you get the Getting Started project)
2. Put cursor in `<body>`
3. Cmd-E to bring up the quick editor
4. Click before the " in "Helvetica Neue" and hit Space
   -> No code hint appears, though it should.
5. Switch to main.css
6. Click before the " in "Helvetica Neue" and hit Space
   -> No code hint appears, though it should. (If you open main.css without havin

[2012-09-15 00:14] njx commented on #3
Also, even if we get all this stuff working properly in quick editors, we'll still have the problem that the Wf button won't work while you're in the HTML file that contains the quick editor. I suppose we could do something like see if there are any quick editors open and gather the fonts from those.

[2012-09-15 00:20] njx opened #4 "Suggestions for dialog containing script tag"
- The title should be more descriptive. I don't have good wording at the moment, but maybe something like "Edge Web Font Loader Code"?
- ~~The text box containing the script tag uses the default dialog font. It would make sense for it to use the code font instead.~~
- Also, it should be a non-editable field (the focus ring is kind of distracting and makes it less clear what's going on).

[2012-09-15 00:21] njx opened #5 "Should add ", " when inserting before existing item"
1. Open main.css from the starter project
2. Click before the " in "Helvetica Neue"
3. Bring up the EWF dialog and choose a font

Result: The font name is inserted, but with no ", " after it. It would be nice if we were smart and inserted that automatically when there are other font names on the line after the cursor.

[2012-09-15 00:24] njx commented on #3
Actually, if focus is in a quick editor, we could just have the WF button generate the script tag based on the CSS file that editor is editing.

[2012-09-15 00:24] njx commented on #4
Oh, the Wf button has a tooltip: "Generate Edge Web Fonts Include Code". We could use that for the dialog title.

[2012-09-15 00:34] njx opened #6 "UI tweaks for browse dialog"
These might be moot with the new design.
- The title should be "Choose Edge Web Font" or something similar to make it clear that you're supposed to pick a font to insert.
- Can we disable the "Done" button until the user picks a font?
- We should change "Done" to "OK", and add a "Cancel" button. (We do have the "x" in the upper right, but it might not be noticeable.)
- There's padding at the top o

[2012-09-15 00:59] njx opened #7 "Line-height shows up in font-family code hint in this case"
1. Open the file at this gist: https://gist.github.com/518bf8731482032a7510
2. Place the cursor after `font-family:` in the `p` rule
3. Hit Ctrl-Space

Result: "1.3em" is the first entry in the dialog.

[2012-09-15 01:02] njx opened #8 "Entries in code hint list should retain their case"
1. Open the file at this gist: https://gist.github.com/518bf8731482032a7510
2. Put the cursor after `font-family:` in the `p` rule
3. Hit Ctrl-Space

Actual result: All the fonts are listed in lowercase even though some of them are capitalized in the file.
Expected result: Fonts should be listed with the case used in the file.

[2012-09-15 01:06] njx opened #9 "Double-click should select the font and dismiss the browse dialog"
For convenience, it would be nice if double-clicking on a font acted like choosing it and hitting "Done".

[2012-09-15 01:22] njx opened #10 "Wording recommendations"
Might need to tweak these further after seeing how they sit in the various dialogs. Might be too wordy.
## Code hint menu

Can we say "Browse Edge Web Fonts..." instead of "Browse EWF..."? If that's too long, maybe we could just have it say "Edge Web Fonts..."
## Informational Wf dialog

This should show when you're in an HTML file or a CSS file that has no EWFs referenced yet (should check with m

[2012-09-15 01:27] njx commented on #10
Would be nice to reword "Generate Edge Web Fonts Include Code" to something that's a little easier to parse, but I can't think of anything obvious.

[2012-09-17 01:33] adrocknaphobia commented on #10
Doh! I didn't see this issue when I started working on the dialogs. Pull down the latest and let me know what you think of my version of "How To".

[2012-09-17 18:57] njx commented on #10
The image is a great idea--we should definitely keep it. The one thing that might be missing from it is that it doesn't really represent the step where the font-family gets added to the CSS file (it shows the browse dialog, but not that that results in CSS being written). But I think that's okay...the important thing is to show the overall workflow. You might want to have @GarthDB take a look at i

[2012-09-17 19:21] njx commented on #10
Actually, I take back what I said about two steps vs three. In your version, the three steps are nicely tied to the image...I didn't get that right away. So let's keep your structure but maybe tweak it as above. Also, consider adding little (1)/(2)/(3) bubbles to the image to make it obvious that they match the steps.

Also, in the last image, it might be good to actually show a snippet of HTML co

[2012-09-17 19:42] njx commented on #10
Okay, maybe I should shut up until I've thought things through :) I just realized that the second step doesn't really line up with the image, because the image shows the dialog, while the second step talks about clicking the Wf icon (which actually really is important for people to remember, and isn't represented in the image). Not sure how we would wedge it in without making the image too complic

[2012-09-18 06:29] RaymondLim opened #15 "EWF hints won't show up in css file if you leave an inline editor open in an html page."
1. Trash prefs and open Edge Code (so you get the Getting Started project)
2. Put cursor in `<body>`
3. Cmd-E to bring up the quick editor
4. Click main.css link in quick editor to open it as a full editor.
5. Click before the " in "Helvetica Neue" and hit Space, you will get EWF hints.
6. Switch back to index.html (which still has the quick editor open), set the cursor before "Helvetica Neue" and

[2012-09-18 18:10] njx commented on #3
adobe/brackets#1684 has a fix for these issues (everything except the Wf button not working when you're in an inline editor--I think that might be too much to fix at this point).

[2012-09-18 18:42] RaymondLim commented on #15
[Brackets pull request #1684](https://github.com/adobe/brackets/pull/1684) also fixes this issue.

[2012-09-18 18:42] #15 closed, assigned to nobody

[2012-09-18 19:32] njx commented on #3
That fix has been merged into Edge Code, and it fixes everything above except for #6--for some reason the code hint doesn't show in this case. (It does show if you type a space at the end of the line.) I'm digging into that now to see if it's some other problem.

[2012-09-18 20:19] njx commented on #3
Turns out that's a totally unrelated problem, fixed by adobe/brackets#1685

[2012-09-18 21:12] njx opened #17 "Autocomplete menu shouldn't show the token you're currently typing"
(Noticed this before but kind of didn't think of it as a bug, though it really is)
1. Type `font-family: arial;`
2. Put cursor before the semicolon
3. Type comma and space
   -> Code hint menu appears
4. Start typing a random word not in the menu

Actual result: The word you're typing shows up as the first match.
Expected result: The word you're typing shouldn't get added to the menu.

[2012-09-18 21:12] ybayer opened #18 "[French] Menu layout issue for "Browse Web Fonts...""
1. Launch Brackets
2. Open a CSS file
3. Click a font and press Ctrl+Alt+Space

French translation for "Browse Web Fonts..." menu goes into two lines. Is it possible to make the popup wider?

https://www.dropbox.com/s/rnap0t3pewx8rkr/Browse_Web_Font.png

[2012-09-18 21:15] ybayer commented on #18
Used with Brackets sprint14 0.14.0-3777 build

[2012-09-18 23:56] njx opened #19 "Accepting EWF code hint in inline editor by hitting return corrupts document"
1. Open the Getting Started project
2. Open an inline editor on `<body>`
3. Click at the end of the font-family line
4. Type comma and space to bring up the code hint menu (or hit ctrl-space)
5. Hit enter to choose something from the menu
6. Go to the main editor for main.css

Result: In the inline editor, the text was added once, but in the main editor, it was added twice. The documents are now o

[2012-09-19 00:32] njx commented on #19
Fixed, closing.

[2012-09-19 00:32] #19 closed, assigned to njx

[2012-09-19 00:47] njx opened #22 "Completion should be smarter if you type a font name with a space"
1. Bring up the EWF code hint menu
2. Type "andale" and then hit space

Actual result: EWF assumes you're starting a new font name.
Expected result: It would be nice if it were smart and assumed you were still typing the same font (since you haven't typed a comma), and add the quotes for you if you then accept a completion from the menu.

[2012-09-19 09:57] Zhuyun commented on #3
@njx
Issue1: After step4, code hint appear on the left top corner on both MacOS X 10.8.1 and Win7.

Issue2: After step4, put cursor in 'h2' and Cmd+E to launch Quick Edit. Thus here bring up 2 quick edits, hit space in first one bring up correct hint, then hit space in the second bring up correctly again. Then back to the first one, hit space it brings up the hint of the name of the second.

Above

[2012-09-19 10:06] Zhuyun opened #23 "Font name appear incorrect in Browse Web Font"
1. In Edge Code, Open the test folder in the Web Font file folder.
2. In the css file,  at the font-family value,  Press Command+Ctrl+Space on Mac to launch the Web Font list
3. Click 'Browse Web Fonts' to launch Web Font Extension dialog
4. Select 'Blackletter'
5. Check font name 'UnifrakturMaguntia'

Expected: the name should display right in the frame

Env: Win7 and MacOS X
Lang: English and Fr

[2012-09-19 10:55] Zhanxin opened #24 "The sample fonts truncated on the browse web fonts page"
Steps:
1. Configure the web fonts files
2. Launch the Edge Code application
3. Open a css file, at the font-family value, press Alt+Ctrl+Space on Windows to launch the Web Font list
4. Click "Browse Web Fonts..."

Result: The sample fonts display on the page are truncated

Expect: Complete sample fonts can be displayed.

Env: Win7; Mac
Language: ENU

Screenshot:
https://www.dropbox.com/s/4qwab3zv4

[2012-09-19 16:17] njx commented on #2
Fixed, closing.

[2012-09-19 16:17] #2 closed, assigned to joelrbrandt

[2012-09-19 16:18] njx commented on #7
Fixed, closing.

[2012-09-19 16:18] #7 closed, assigned to nobody

[2012-09-19 16:21] njx commented on #3
@Zhuyun Have you pulled the latest Edge Code as well as EWF? The first issue you mention should be fixed.

[2012-09-19 16:23] njx commented on #3
@Zhuyun Also, I don't have the test files you're using for your second issue, but it sounds like something that should be fixed by my fixes yesterday as well. Please make sure you have the latest version of both Edge Code and EWF and let me know if these still reproduce. Thanks.

[2012-09-19 16:24] RaymondLim commented on #3
@Zhuyun If you're testing with b3788, then you don't have the fix yet. It is in Sprint 14 experimental build 0.14.0-3791.

[2012-09-19 16:27] pthiess commented on #3
Added Sprint 14 label and FBNC

[2012-09-19 16:32] pthiess commented on #17
Sprint 14

[2012-09-19 16:34] pthiess commented on #10
Assigning to Adam to decide what needs to be done for Sprint 14.

[2012-09-19 16:40] pthiess commented on #10
@adrocknaphobia Adam, please review these proposals and file separate bugs for anything we need to address within this week.

[2012-09-19 17:05] joelrbrandt opened #26 "dynamically truncate font names that are too long for detail area"
Right now, we have overflow: hidden for the font details section of each font. A few font names are too long and get clipped.

Long term, we should dynamically compute the length, and add ellipses instead.

[2012-09-19 17:06] joelrbrandt commented on #23
Temporary fix in #25. Longer term fix needed (filed as low priority bug #26)

[2012-09-19 17:07] joelrbrandt commented on #24
Fix in #25. The EWF service just re-rendered all their preview tiles with more padding.

[2012-09-19 17:13] joelrbrandt commented on #18
@njx @GarthDB Any opinion on this? We can't make the popup wider without messy changes to core.

I see two options:
1. Make the font smaller in both English and French version
2. Live with the wrapping for now

[2012-09-19 17:17] gruehle opened #27 ""Browse Web Fonts..." menu item can be positioned offscreen"
The logic for keeping the code hint menu fully onscreen doesn't account for the "Browse Web Fonts..." item. If you are code hinting a font-family rule near the bottom of the screen, the code hint menu is cut off.

Steps to repro:
1. Copy the contents of this gist into a css file: https://gist.github.com/0ca229798bdcc9f68dc1
2. Resize the window so you see just the top pixel of the "44" line number

[2012-09-19 17:18] GarthDB commented on #18
it would be nice if we could make it longer - what about shortening the text by taking out the verb - Browse and just say Web Fonts?

[2012-09-19 17:18] njx commented on #18
How bad would it be to just change it to "Web Fonts..." in French? "Les polices Web...", I guess.

[2012-09-19 17:23] gruehle commented on #27
The likelihood of running into this bug is _very_ low, since there is only a 2-3 pixel variance in window size where this occurs. If you make the window any smaller, the code hint menu moves up; if you make the window larger, the item is no longer cutoff.

[2012-09-19 17:33] njx commented on #18
@GarthDB Jinx. I owe you a Coke.

[2012-09-19 17:38] GarthDB commented on #18
you can "buy" me one from the fridge next week.

##

Garth Braithwaite
Sent with Sparrow (http://www.sparrowmailapp.com)

On Wednesday, September 19, 2012 at 10:33 AM, Narciso Jaramillo wrote:

[2012-09-19 17:45] joelrbrandt commented on #18
Fixed in #31

[2012-09-19 17:51] njx commented on #24
Fixed, ready to regress.

[2012-09-19 17:51] njx commented on #18
Fixed, ready to regress.

[2012-09-19 17:52] njx commented on #23
Temporary fix in place (by truncating for now), ready to regress.

[2012-09-19 17:53] njx commented on #27
Marking low-priority

[2012-09-19 18:47] njx commented on #17
Fixed, closing.

[2012-09-19 18:47] #17 closed, assigned to nobody

[2012-09-19 18:54] joelrbrandt commented on #18
@ybayer We changed the French string from "Parcourir les polices Web..." to "Les polices Web Edge...". Does this seem okay? The shorter string prevents wrapping.

[2012-09-19 19:26] joelrbrandt opened #32 "compile LESS to CSS, remove LESS loading code"
When we're done with design tweaks, we need to compile the LESS to CSS and remove the hack to load LESS into an extension.

[2012-09-19 19:57] joelrbrandt commented on #22
I agree. It's worth noting, however, that it does work properly if you start with a quote character. That is, if you've started with a quote, typing a space keeps you in the same token.

It also works right if you DON'T start with a quote, but then complete to a name with a space (before actually typing a space character). So, I think this is pretty low priority. Marking as such.

[2012-09-19 19:58] joelrbrandt commented on #24
@Zhanxin can you please confirm the fix when you have time? Thanks for filing this.

[2012-09-19 19:58] joelrbrandt commented on #23
@Zhuyun can you please confirm the fix when you have time? Thanks for filing this.

[2012-09-19 20:00] joelrbrandt commented on #10
@adrocknaphobia can we close this bug? Marking as FBNC for now, since our strings are final for the release.

[2012-09-19 20:02] joelrbrandt commented on #9
Oops, didn't mean to close.

[2012-09-19 20:11] joelrbrandt commented on #8
Fixing this is slightly complicated, since font slugs are case insensitive BUT EWF include urls are _not_ case insensitive (at least according to the spec). This means that we need to convert everything to lowercase for the include generation, but not for the popup generation.

Furthermore, if the file contains "foo" and "Foo" font slugs (which are identical), we only want to list one of them. It

[2012-09-19 20:20] joelrbrandt commented on #4
Since @adrocknaphobia has finalized the strings, marking this FBNC and assigning to @njx for closing

[2012-09-19 20:39] ybayer commented on #18
Looks good to me. Asking the French reviewer for feedback.
https://www.dropbox.com/s/5x231uvqza5mnzh/Browse_Web_Font_new.png

[2012-09-20 00:59] njx commented on #32
Already done, closing.

[2012-09-20 00:59] #32 closed, assigned to joelrbrandt

[2012-09-20 01:00] njx commented on #4
The suggestions in this bug aren't just about the wording. I'd like to leave them open for a future version.

[2012-09-20 02:07] Zhuyun commented on #3
Yesterday's latest for me is b3788. Now I just have b3791 and both issues fixed.

[2012-09-20 02:43] Zhanxin commented on #24
Verify this issue with build 0.14.1-3872, fixed. Close this issue.

[2012-09-20 02:43] #24 closed, assigned to joelrbrandt

[2012-09-20 03:00] Zhuyun commented on #23
Turns out truncated with build 3791 and newly downloaded EWF.

Screenshot:
https://www.dropbox.com/s/cgbigdvvolz8jfs/Blackletter_FontName_Truncation.jpg?m

[2012-09-20 03:19] njx commented on #23
Yes, the truncation is intentional (as mentioned above)--it's the best we can do for now. We've filed #26 to track fixing it in a better way.

[2012-09-20 03:32] Zhuyun commented on #23
Then shall I close this one?

[2012-09-20 03:44] RaymondLim opened #35 "Cannot get to Browse Web Fonts with down arrow key and therefore cannot invoke it without a mouse click."
After invoking EWF by typing a space character, you can use down/up arrow key to reach the font already available in the list. But you cannot reach to the last item (Browse Web Fonts...) with down arrow key and thus you cannot add a web font without a mouse click.

[2012-09-20 04:09] RaymondLim opened #36 "Browse Web Fonts dialog has several keyboard accessibility issues."
## ~~Issue 1~~

Bring up the Web Fonts dialog and set focus in the Search field. Press Shift-Tab.

Result: You can't see where the focus goes. You can scroll down the font list and still cannot locate the selected font.
## ~~Issue 2~~

Set focus back in Search field and hit Tab key. Focus goes to the first button in font category. Try to press down arrow key.

Result: Nothing happens. If you hit t

[2012-09-20 05:04] njx commented on #23
Yes please. Thanks!

[2012-09-20 05:05] njx commented on #35
This is a known limitation of the current implementation--currently the plugin is hacking a new DOM node into the menu. Longer term, we should consider whether we should add a way  for code hint plugins to add arbitrary items to the code hint dropdown.

[2012-09-20 05:17] RaymondLim opened #37 "Script tag text field should not have resize handle on bottom right corner."
1. Insert a web font in a css file.
2. Click on the Wf button to generate the required script tag.

Result: You will see the resize handle at the bottom right corner of the script tag field. If you grab it and resize, you can drag it outside of the dialog.

[2012-09-20 05:21] joelrbrandt commented on #23
@Zhuyun yes, I agree it's a bit strange that we're asking you to close a bug that isn't completely fixed. I guess the criteria for closing are a.) you believe the current solution is better than the initial problem, and b.) you believe that issue #26 accurately captures what needs to be done to fully fix the bug.

If you agree with "a" and "b", it'd be great if you would close the bug. If not, it

[2012-09-20 05:26] joelrbrandt commented on #37
I'm not exactly sure how to fix this. In #4, @njx suggested making the text field read-only. I agree that this removes the distracting blue border. However, it a.) does _not_ remove the resize handle, and b.) causes the mouse cursor to display a big "no" symbol on OS X when the user hovers. This seems less than ideal.

Does anyone have suggestions?

[2012-09-20 05:28] Zhuyun commented on #23
Truely understand. Thank you both! #26 is tracking this.

[2012-09-20 05:28] #23 closed, assigned to joelrbrandt

[2012-09-20 05:29] joelrbrandt commented on #37
Based on this: http://stackoverflow.com/questions/588089/hiding-textarea-resize-handle-in-safari It looks like we can set `resize: none` in the CSS to fix the issue @RaymondLim raises.

And, it looks like we can do `cursor: pointer` to fix the "no" cursor

[2012-09-20 05:30] joelrbrandt commented on #3
@Zhuyun has confirmed both issues fixed. Closing. Thanks!

[2012-09-20 05:30] #3 closed, assigned to joelrbrandt

[2012-09-20 08:10] Tania-Jiacomini commented on #18
Hi, in this case it would be better to remove the determiner "Les", which is very uncommon in menu titles. Please change to "Polices Web Edge", this is meaningful enough. Thank you.

[2012-09-20 08:55] Tania-Jiacomini commented on #18
It would also be necessary to apply this new translation to sprint14 experimental build 0.14.0-3834 - screenshot HOWTO_INSTRUCTIONS_2.jpg as well, see https://www.dropbox.com/s/l1mye3pzcqbok2o/EN_HOWTO_INSTRUCTIONS_2.jpg and https://www.dropbox.com/s/tewf77yfep3f0pb/FR_HOWTO_INSTRUCTIONS_2.jpg :

In the red square, "sélectionnez l’option Parcourir les polices Web" should be changed to "sélectionne

[2012-09-20 08:59] Tania-Jiacomini commented on #18
Plus, please note that CODEHINT_BROWSE.jpg screenshot provided for 2012-09-20_EdgeCode_LingTesting_Pass3 (sprint14 experimental build 0.14.0-3834) is the same as https://www.dropbox.com/s/5x231uvqza5mnzh/Browse_Web_Font_new.png and should be corrected accordingly.

Link to CODEHINT_BROWSE.jpg: https://www.dropbox.com/s/fzm1y4md0s5nq4k/CODEHINT_BROWSE.jpg

Thanks

[2012-09-20 13:58] KamilJarocha commented on #18
Translations are changed to 'Polices Web Edge' in ALF as requested by Tania.

[2012-09-20 16:19] joelrbrandt commented on #18
@KamilJarocha Thanks for your help! I don't yet see these in master (or in the repo at all). Will they be pushed later?

[2012-09-20 16:32] joelrbrandt commented on #36
I agree that these are definitely all issues. However, we don't currently have focus management in modals. This is on the backlog in trello: https://trello.com/c/ldcN6BbD

It will be hard to fix these just in the extension. We really need the above story to be complete before we can do this right.

[2012-09-20 17:30] joelrbrandt commented on #37
Marking FBNC and assigning to @RaymondLim for regressing.

[2012-09-20 17:30] ybayer commented on #18
@joelrbrandt ALF pushed to master just now.

[2012-09-20 17:32] joelrbrandt commented on #4
@njx regarding your suggestion on the font: we can't use LESS mixins, so we'd have to either:
a. hard code the font name in CSS.
b. add a class to the LESS in core brackets that is intended to be used by extensions that want to use the code font.

"b" sounds better to me. Thoughts?

[2012-09-20 17:37] RaymondLim commented on #37
Nice job! You fixed two issues.

[2012-09-20 17:37] #37 closed, assigned to RaymondLim

[2012-09-20 17:37] joelrbrandt commented on #18
Marking as FBNC and re-assigning to @ybayer for confirmation and closing.

[2012-09-20 17:38] njx commented on #4
Agreed, we should do (b). Not right now though.

[2012-09-20 17:41] ybayer commented on #18
Confirmed the fix. Closing.

[2012-09-20 17:45] RaymondLim opened #39 "Focus rectangle for font category button may not show all the edges."
1. Bring up the Browse Web Fonts dialog and set focus in Search text field.
2. Hit Tab key so that focus is on the very first font category button.

Result: The bottom edge of the focus highlight is missing.

[2012-09-20 18:20] joelrbrandt opened #41 "Extension never loads if user is not connected to Internet at application launch time"
Right now, the extension makes one request for the entire font list at app launch time. If it can't complete this request, it fails gracefully and the extension never loads.

Ideally, we should keep retrying at some (fairly long) interval, and load the extension when we can.

The code contains a TODO about this in `main.js`

[2012-09-20 18:22] joelrbrandt opened #42 "Can't display all fonts at once due to potential crash"
If we get into a situation where we're trying to display all fonts at once, there's a potential for a crash. This is because CEF can run out of available FDs.

This is a bug in Chrome, filed here:
  https://code.google.com/p/chromium/issues/detail?id=151039

So far, this has only reproduced on Lion. We've modified the search algorithm so that it's hard to display all the fonts. But, it's possible

[2012-09-20 18:46] joelrbrandt opened #43 "a few fonts in EWF don't have a category, so they can't be easily found"
These fonts don't have a category in the EWF service:

Jockey One
Karla
Kranky
Londrina Outline
Londrina Shadow
Londrina Sketch
Londrina Solid
MedievalSharp
Miss Saint Delafield
Modern Antiqua
Norican
Ovo
Poller One
Revalia
Unkempt

Probably, the solution here is to have EWF add a category.

[2012-09-20 20:45] joelrbrandt commented on #43
This is now fixed.

[2012-09-20 20:45] #43 closed, assigned to nobody

[2012-09-24 06:46] Zhuyun opened #44 ""Browse Web Fonts..." menu appear differently in French"
1. Launch Brackets
2. Open sample project
3. Open css file
4. Input a space behind font-family to launch the dropdown list
5. Observe in English Brackets it's "Browse Web Fonts...", but in French is "Edge Web Fonts..."

Env: MacOS X and Windows
Lang: French
Build 3797

Screenshots:
https://www.dropbox.com/s/q9i0o2hehdmvbgb/EWF_EN.jpg
https://www.dropbox.com/s/cg48i214vtkrzdg/EWF_FR.jpg

---

not s

[2012-09-24 08:58] Zhuyun commented on #44
seems to shorten French to avoid truncation. Closed.

[2012-09-24 08:58] #44 closed, assigned to nobody

[2012-09-28 23:00] peterflynn opened #45 "Edge Web Fonts fails to load if OS locale is German"
Two users have reported this problem in the forums:
http://forums.adobe.com/thread/1072264?tstart=0

The "Wf" icon simply fails to show up.  In the console, these errors appear:

[code]

I think the problem is that EdgeWebFonts\nls\strings.js lists "de" as a supported language, but no "de" folder is actually present.

[2012-10-08 17:25] redmunds commented on #45
FBNC back to @peterflynn

[2012-10-10 10:03] joelrbrandt commented on #45
@peterflynn Just a reminder: once this is confirmed fixed and closed, we need to update the SHA in Edge Code. Normally, I'd be happy to do it, but I'll likely be on PTO when you close this. Thanks!

[2012-11-06 18:36] joelrbrandt commented on #45
@peterflynn I created a pull in Edge Code to update the SHA. This bug should be fixed. Assigned to you to confirm and close.

Thanks!

[2012-11-06 20:45] RaymondLim opened #47 "handleSelect API now requires to return true to close the code hints."
In Sprint 16, we made a change in this api, and all extensions using Code Complete APIs need to update their handleSelect API to return true.

[2012-11-06 21:24] njx commented on #47
@RaymondLim -- could you make sure a note about that API change gets added to https://github.com/adobe/brackets/wiki/Release-Notes:-Sprint-16 ? Thanks.

[2012-11-07 02:48] RaymondLim commented on #47
Thanks. I just add it.

[2012-11-11 20:51] joelrbrandt commented on #47
@RaymondLim I created pull #48 to address this. Might you have time to review?

[2012-11-11 21:06] joelrbrandt commented on #47
FBNC, assigned back to @RaymondLim

Thanks!

[2012-11-12 17:41] #47 closed, assigned to joelrbrandt

[2012-11-17 14:27] joelrbrandt opened #49 "revert hack for document update once #1688 is fixed in brackets"
There's a hack in `main.js` due to adobe/brackets#1688 that we should back out once the bug is fixed.

[2012-12-01 22:38] RaymondLim opened #54 "Web Font hints show up when pressing Ctrl-Space in some incorrect places in the font-family declaration."
1. Type `font-family : "Helvetica Neue" ,` in a css file.
2. Set the cursor right before the `:` and hit Ctrl-Space. Web Font hints show up.
3. Set the cursor before the comma, enter a space and hit Ctrl-Space. Web Font hints show up.

[2012-12-01 22:43] RaymondLim opened #55 "Web font hints should show up right after typing ``font-family:``"
Try to type `font-family:` inside a css rule. After typing the colon, web font hints does not automatically show up.  You have to explicitly invoke it with Ctrl-Space.

[2012-12-20 14:19] joelrbrandt opened #56 "Extension no longer works at all with new code hint api"
As part of adobe/brackets#2387 we need to update the API.

The good news is that it's now possible to fix #54 and #55

[2013-01-04 21:00] joelrbrandt commented on #56
Confirming fixed and closing. Thanks @iwehrman !

[2013-01-04 21:00] #56 closed, assigned to joelrbrandt

[2013-01-24 09:14] dil77307 opened #59 "[FRA]: Some tooltips are not localized in the Edge Web Fonts page."
Steps：
1. Launch the Brackets sprint19 5290
2. Open a css file and move the mouse behind the font-family, press"Ctrl+Space"
3. Click "Edge Web Fonts..."
4. Move the mouse stay on the left icons
5. Check the below tooltip:
Headings, Paragraphs, Script, Blackletter, Handmade, Decorative

Results:
Some tooltips are not localized.

Expect:
These tooltips should be localized in French.

Screenshot:

![

[2013-01-24 21:49] joelrbrandt commented on #59
@dil77307 Thanks for raising this issue. When we did the initial translation, I know that our translation team explicitly chose NOT to translate these. However, I do not remember the reasoning.

I'll follow up with them again to see if they've changed their stance.

[2013-01-25 14:08] joelrbrandt commented on #59
@dil77307 A quick update: our localization team is handling this and there will be a fix in the next release of Edge Code. (And, master will be updated shortly.) Thanks for pointing this out!

[2013-01-25 14:53] ArturOledzki commented on #59
Strings have been corrected in ALF:
Headings -> Titres
Paragraphs -> Paragraphes
Script -> Cursive
Blackletter -> Gothique
Handmade -> Manuscrite
Decorative  -> Décorative

[2013-01-25 15:01] MWereli commented on #59
Japanese translation will follow on Monday - translator did not make it on time, due to time zone difference.

[2013-01-25 16:55] ybayer commented on #59
Please make sure to match with the translation in Typekit.
French: https://typekit.com/fonts?locale=fr_FR
Japanese: https://typekit.com/fonts?locale=ja_JP

[2013-01-25 22:45] ybayer commented on #59
French file has been checked in
https://github.com/adobe/brackets-edge-web-fonts/blob/master/nls/fr/strings.js

[2013-01-26 01:17] joelrbrandt commented on #59
Confirming fixed in master and closing.

[2013-01-26 01:17] #59 closed, assigned to ArturOledzki

[2013-01-26 01:19] joelrbrandt opened #60 "regression: hint list does not re-appear after user types ", " in a font-family list"
**Steps to reproduce:**
1. Create a line that says `font:family: arial` and put IP after "arial"
2. Type `,[space]`

**Expected:**

Hint list appears

**Actual:**

It doesn't.

[2013-01-26 01:19] joelrbrandt commented on #55
This is now fixed. Assigning to @RaymondLim for closing

[2013-01-28 22:12] joelrbrandt opened #61 "revert hacks for adding hint list addition once API is available"
Tracking adobe/brackets#2695

[2013-01-29 09:19] Zhuyun commented on #18
@joelrbrandt
Problem: French: the current menu display as "Edge Web Fonts" but not 'Polices Web Edge' as said above "Translations are changed to 'Polices Web Edge' in ALF as requested by Tania."

English is still "Browse Web Fonts".
Screenshot:
![web font](https://f.cloud.github.com/assets/2245172/106369/cb27267c-69f4-11e2-89cc-89ce3e3897fd.png)

Is 'Polices Web Edge' still the expected display fo

[2013-01-29 16:31] joelrbrandt commented on #18
@Zhuyun Thanks for bringing this up. The official name of the product is "Edge Web Fonts".

I don't remember the discussion around this translation that well, but I _think_ this is what happened. First, we went with the translation "Polices Web Edge" (which translates to "Edge Web Fonts"). But, people didn't like that because it is essentially translating the product name, which is something we do

[2013-01-29 16:36] joelrbrandt commented on #18
@Zhuyun Looking back through the repository history, it appears that the translation we had for "Browse Web Fonts..." is "Parcourir les polices Web..."

That phrase _does_ fit in the new, wider dialog. So, we could go with this translation if that makes everyone happy.

[2013-01-30 02:53] Zhuyun commented on #18
@joelrbrandt Thank you Joel. The story is we found this string is inconsistent between ENU and FRA. However it's good to know the translation of "Browse Web Fonts" can fit the wider dialog so that they become consistent on EN and FR UI.

We will check it in the latest build later then close this issue when fixed.

[2013-01-30 03:29] dil77307 commented on #59
Confirm fixed, the tooltips has been localized as suggestion.
Please refer to the screenshot below:
![Tooltip_fixed](https://f.cloud.github.com/assets/3336842/109663/2ccd4832-6a8d-11e2-9056-6cd15a98f705.jpg)

[2013-01-30 05:44] Chen-Dandan opened #63 "[Win_only] 'Sample' after some fonts name cannot be displayed in Web font hints list."
1. Launch Brackets Sprint 19 5290.(after the latest file package "brackets-edge-web-fonts-master" has been put in Extensions folder)
2. Open a css file in left sidebar.
3. Type "font-family:" in the css file and press Ctrl-Space.
4. Observe the pop-up Web font hints list.

Result: The "Sample" string after fonts "andale mono" and "helvetica neue" cannot be displayed as other fonts, even wait for a

[2013-01-30 15:55] joelrbrandt commented on #63
Thanks for taking a look at this.

This is expected behavior. If fonts are not available on a system or via Edge Web Fonts, we cannot display a sample. (If Andale Mono or Helvetica Neue were on your system or in EWF, they would be displayed.)

I'm going to close the bug for now. If you experience this problem with fonts that you _know_ are on your system/available in EWF, please re-open it.

[2013-01-30 15:55] #63 closed, assigned to nobody

[2013-01-30 20:33] ybayer commented on #18
@joelrbrandt It was a request from either Adam or Arno to keep the product name in translations so we changed the translation to "Edge Web Fonts..." from "Polices Web Edge...". Because the product name is translated in your suggested translation "Parcourir les polices Web...",  should I query the translation of "Browse Web Font..." in French. Does it sound okay?

[2013-01-30 20:54] joelrbrandt commented on #18
@ybayer Yes, there was a request to not translate the product name.

The confusion here is this:

In English, the menu item does _not_ contain the product name. The English phrase is "Browse Web Fonts...". ("Web Fonts" is a general term, not the product name.)

When we first tried to translate this to French, the translation was too long to fit in the dialog (the translation of "Browse Web Fonts..

[2013-01-30 21:42] ybayer commented on #18
@joelrbrandt Thanks for the info! I agree to change for consistency. I'll fix in ALF.

[2013-01-30 22:14] ybayer commented on #18
Fixed and pushed in master.

[2013-01-30 23:31] joelrbrandt commented on #18
@Zhuyun Can you please confirm fixed and close?

@ybayer Thanks!

[2013-01-31 03:36] Zhuyun commented on #18
Thank you both! Confirm fixed and closed.
![FR_Browse Web font_Brackets 20-0](https://f.cloud.github.com/assets/2245172/113447/53458a22-6b57-11e2-9a84-78cefdc6838e.png)

[2013-01-31 03:36] #18 closed, assigned to Zhuyun

[2013-01-31 07:17] Chen-Dandan opened #64 "The link "Terms of Use" cannot be opened in Edge Web Fonts dialog ."
1. Launch Brackets Sprint 20 version 0.20.0-0 (Make sure Web fonts file package "brackets-edge-web-fonts-master" has been put in Extension folder)
2. Click the "Wf" icon on the right-top corner.
3. Click the "Terms of Use" link in Adobe Edge Web Fonts dialog.

Result: The page linked to "Terms of Use" cannot be opened.

Expected: The link should be opened successfully.

Notes: Repro on Mac and Win

[2013-01-31 08:17] ryanstewart commented on #64
Hi Chen, I can't get this to reproduce. Does the link just not do anything for you when you click it?

[2013-01-31 08:47] Chen-Dandan commented on #64
@ryanstewart
Hi Ryan, I reproduced this issue in China Mainland rather than in Adobe VPN.  If I am in Adobe VPN, this link can be opened successfully.
Also, when you click on "Terms of Use", it linked to http://adobe.com/go/edgewebfonts_tou, but can't be opened.
![link](https://f.cloud.github.com/assets/2245186/113927/82fb58b6-6b82-11e2-8d40-545da2a26986.png)

[2013-02-01 01:51] joelrbrandt commented on #64
@Chen-Dandan @ryanstewart This sounds like a firewall issue. Should we close this bug?

[2013-02-01 15:24] joelrbrandt opened #65 "Extension doesn't work at all with CMv3"
Hopefully it's an easy fix. We use a number of codemirror APIs because of doc sync bugs. I hope that it just requires updating those API calls.

[2013-02-04 05:46] Zhuyun commented on #64
Don't know why the link works with Firefox but not for IE&Chrome. Close on behalf of Dandan Chen.

[2013-02-04 05:46] #64 closed, assigned to nobody

[2013-02-05 02:11] joelrbrandt commented on #65
Fixed by @RaymondLim 's pull request #66. Ready to merge once CMv3 lands.

[2013-02-05 02:12] joelrbrandt commented on #60
Confirming fixed with #62 and closing. Thanks for the review @redmunds !

[2013-02-05 02:12] #60 closed, assigned to joelrbrandt

[2013-02-05 02:18] joelrbrandt opened #67 "Architecture: Transition to using CSSUtils API to parse font-family strings"

[2013-02-11 20:53] peterflynn opened #69 "Hints don't appear automatically unless you code-complete 'font-family'"
1. Open the latest EC preview 3 build
2. Open main.css in the Getting Started content
3. Make a new line inside the 'body' rule
4. Type `font-family:` (optional: and hit space)

Result: No EWF hints pop up

Expected: In preview 1 & 2, hints pop up at this point

Workaround:
- Don't type 'font-family' yourself: type it partway, then hit Enter to accept the property name code hint.  Then the EWF fon

[2013-02-11 20:57] peterflynn commented on #69
Updated title/description to clarify that this doesn't happen when using CSS code hints to "type" the property name.

[2013-02-11 20:58] peterflynn opened #70 "Standard font names shouldn't be lowercase"
Entries in the EWF code hint list are all lowercase, e.g. "arial" and "comic sans ms".

This seems odd, because in most CSS I've seen they're capitalized the same way the OS or a design app would show them, e.g. "Arial" or "Comic Sans MS".

[2013-02-11 21:04] RaymondLim opened #71 "Font filtering no longer works if you have the cursor in a font starts with a capital letter."
1. Open main.css page from Getting Started project.
2. Set cursor inside the font-family rule right after one of the fonts starts with a capital letter (eg. after "A" in Arial).
3. Press Ctrl+Space to bring up EWF hints.

Result: You dont see the font list is filtered with the letters before the cursor. If you change the capital letter to lowercase, then you will see the filtering with some bold l

[2013-02-11 22:11] redmunds commented on #69
This was done intentionally to be more minimalistic as css code hints now are. As soon as you type a single letter, they pop up.

Note that if you choose font-family from the hints list, you will get the EWF dialog popped up at that point.

Do you think this is significantly different than CSS code hints, or were you just expecting it to behave the same as last time you used it?

[2013-02-11 22:24] peterflynn commented on #69
Ok, good point -- I confirm it pops up as soon as you type a letter too.  I'll add that to the workarounds & lower the priority.  Doesn't seem like it should block EC.

I'll leave the bug open though since I think this is a case where we _might_ want to consider popping up right away.  After typing a “:” it seems pretty safe to pop up CSS value hints without being over-aggressive... unlike CSS pro

[2013-02-11 22:50] peterflynn commented on #69
One other note: these hints pop up _less_ than the core Brackets CSS value hints.  In core Brackets, if I type a property name and then colon [\+ space], the hints popup that appeared while I was typing the property name remains open and now shows property values.  With EWF this isn't true: the property name popup closes when I type colon.

[2013-02-19 10:32] Zhuyun opened #73 "Loc: FRA: Image in WF dialog is in English"
Method:
1. Launch Brackets
2. Click on the WF icon in the up right corner

Result:
The pop-up WF dialog is localized in French but the image used English images.

Expected:
Should use French image.

Env: Win&Mac
Build: 0.20.0-5678
Screenshot:
![EWF_Introduction_Image_unloc](https://f.cloud.github.com/assets/2245172/170851/a7c61a6c-7a7f-11e2-86ed-cbcb5a43352e.jpg)

[2013-03-12 16:29] joelrbrandt commented on #71
Fixed with #72, assigning to @RaymondLim for closing.

[2013-03-25 22:24] iwehrman opened #75 "Extension manager support"
A package.json file should be added to the repository (as discussed in adobe/brackets#3182), and the extension should be registered in the Brackets extension repository when ready.

[2013-03-27 13:23] joelrbrandt opened #77 "code hint window can get positioned partially off screen"
![Screen Shot 2013-03-27 at 6 21 05 AM](https://f.cloud.github.com/assets/908679/308185/4c11dc78-96e1-11e2-9a87-b7e66aa4f203.png)

**Steps to reproduce**
1. Create a CSS file with a `font-family` rule that goes almost to the edge of the window.
2. Put cursor at the end and invoke the hint dialog

**Result**
Because of the hack that resizes the code hint window, it can get partially positioned off

[2013-03-27 13:25] joelrbrandt commented on #65
This was fixed a long time ago. Closing.

[2013-03-27 13:25] #65 closed, assigned to joelrbrandt

[2013-03-27 13:25] joelrbrandt commented on #55
Confirming fixed and closing.

[2013-03-27 13:25] #55 closed, assigned to RaymondLim

[2013-03-27 13:26] joelrbrandt commented on #71
Confirming fixed and closing.

[2013-03-27 13:26] #71 closed, assigned to RaymondLim

[2013-03-27 13:26] joelrbrandt commented on #45
This has been fixed for a loooooong time. Closing.

[2013-03-27 13:26] #45 closed, assigned to peterflynn

[2013-03-29 14:29] joelrbrandt commented on #75
Closed with merging of #78

[2013-03-29 14:29] #75 closed, assigned to iwehrman

[2013-04-05 16:01] ryanstewart opened #81 "No font-family code hinting UI in <style> element. No Edge Fonts. Edit"
From https://github.com/adobe/brackets/issues/3359

When authoring inside a 'style' element in the .html file there is no code hinting for font families. Because of this, a user cannot get the UI to pick custom fonts from Edge Fonts. There is no problem when authoring in .css files.

[2013-04-09 21:52] pthiess commented on #73
The images need to be updated @iwehrman

[2013-04-09 21:53] iwehrman commented on #73
[This file](https://github.com/adobe/brackets-edge-web-fonts/blob/master/img/ewf-howto-dialog.png) needs to be updated and localized.

[2013-04-09 21:55] pthiess commented on #73
@GarthDB - not sure if you had time for updating the images soon, even the English version seems out of date? Assuming you could recreate it - right? @joelrbrandt Would you have the original image?

[2013-04-09 23:02] joelrbrandt commented on #73
@adrocknaphobia created this image. I do not have access to the original.

[2013-04-10 16:30] iwehrman commented on #81
Assigning to @couzteau

[2013-04-11 00:01] iwehrman commented on #69
I don't think this is a bug. The behavior of EWF in this context seems correct. The true bug, IMO, is that CSS value hints open as soon as you type the colon. That, I think, is far too aggressive.

[2013-04-11 00:02] iwehrman commented on #69
In any case, I'll assign this to myself to either fix or take responsibility for closing after talking it over with the rest of the EC team.

[2013-04-11 00:10] iwehrman commented on #42
That Chromium bug has been closed without a fix, and I can't figure out how to reproduce the crash. Any hints?

[2013-04-11 00:12] iwehrman commented on #39
Yep, this looks terrible!

![Focus border bug](http://f.cl.ly/items/1H2e3x0W2q3n0X2U3F3e/Screen%20Shot%202013-04-10%20at%205.11.27%20PM.png)

[2013-04-11 14:57] joelrbrandt commented on #42
The only way I'm aware of to reproduce it is to install Lion (it doesn't repro on ML), and then change the EWF source so that it displays all fonts when the dialog initially loads.

Alternatively, you could just make a simple webpage that dynamically (i.e. with JS) adds a whole bunch of images to the DOM at the same time, and then set the shell location to that file. The cause of the bug was that

[2013-04-11 14:58] joelrbrandt commented on #42
Update: Child processes _seem_ to inherit the limit of their parent process. If I do:

[code]

I get 257 in the child bash process. So, you could set the limit to something small, launch Brackets from the shell, and see what happens!

[2013-04-11 16:18] iwehrman commented on #42
Yeaaaah, I think we'll just go ahead and close this one out then.

If you have to change the source and install an old OS to reproduce this then I think we can safely ignore it for now. Please re-open if you ever see this again.

[2013-04-11 16:18] #42 closed, assigned to nobody

[2013-04-15 21:07] #81 closed, assigned to couzteau

[2013-04-15 21:33] ryanstewart commented on #77
Similar to #27.

[2013-04-16 20:46] ryanstewart opened #85 "Should add a License File"
We should add a license to this repo. Potentially MIT so it's the same as Brackets - https://github.com/adobe/brackets/blob/master/LICENSE

[2013-04-16 21:35] joelrbrandt commented on #85
And a README.md!

On Apr 16, 2013, at 1:46 PM, Ryan Stewart notifications@github.com wrote:

We should add a license to this repo. Potentially MIT so it's the same as
Brackets - https://github.com/adobe/brackets/blob/master/LICENSE

—
Reply to this email directly or view it on
GitHubhttps://github.com/adobe/brackets-edge-web-fonts/issues/85
.

[2013-04-16 21:37] iwehrman commented on #85
@pthiess @julianasuh Can either of you comment about whether it's safe to call brackets-EWF MIT licensed?

[2013-04-19 17:15] iwehrman opened #87 "Retina-compatible how-to image"
As mentioned in #86, these images should be retina-compatible:

![How-to](https://raw.github.com/adobe/brackets-edge-web-fonts/master/img/ewf-howto-dialog-en.png)

![How-to fr](https://raw.github.com/adobe/brackets-edge-web-fonts/master/img/ewf-howto-dialog-fr.png)

@ryanstewart might have the resources handy to make the double-resolution images.

[2013-04-19 20:53] iwehrman commented on #87
Might want to roll this into the "make EWF better" user story.

[2013-04-22 00:39] iwehrman opened #89 "Toolbar icon visual artifact"
May be specific to the new horizontal toolbar:

![icon](http://f.cl.ly/items/0Y030c0a0T2a1m0V1D3b/Screen%20Shot%202013-04-21%20at%205.35.29%20PM.png)

[2013-04-22 16:33] ryanstewart commented on #73
I think we need @Zhuyun to verify it's fixed for us. But if not I can verify the fix and close today.

[2013-04-24 19:57] pthiess commented on #85
Hi @iwehrman:
We should just use MIT license for the code as well. However, we should put a prominent notice so users know that EWF have their own TOU, something along the lines of:

Notice to users: The code available on this site is governed by the MIT license. However, in order to use this API, you or your end users are required to have a valid license to Adobe Edge Web Fonts service. Use of Ad

[2013-04-24 20:00] iwehrman commented on #89
Hey @larz0, can you look into this? I think the drop shadow just needs to be updated (4x) in this file: https://github.com/adobe/brackets-edge-web-fonts/blob/master/img/ewf-toolbar-sprites.svg

[2013-04-24 20:35] iwehrman commented on #87
@bchintx Can you verify and close? (It sure looks fixed to me.)

[2013-04-24 20:37] iwehrman commented on #85
A prominent notice where? In the license file?

[2013-04-24 20:40] iwehrman commented on #85
Marking low priority because the lack of an explicit license file hasn't been a huge problem for the last year.

[2013-04-24 20:41] iwehrman commented on #89
Marking low priority because it apparently isn't bothering anyone besides me. (But I bet it's gonna drive @larz0 nuts too!)

[2013-04-24 20:44] iwehrman commented on #73
This works for me now. Marking FBNC.

[2013-04-24 20:46] julianasuh commented on #85
Please do not put in the license file.

I would check first with Ann.

Juliana

From: Ian Wehrman <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe/brackets-edge-web-fonts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, April 24, 2013 1:37 PM
To: adobe/brackets-edge-web-fonts <brackets-edge-web-fonts@noreply.github.com<mailto:brackets-edge-web-fon

[2013-04-24 20:52] ryanstewart commented on #85
Thanks @julianasuh. All, we'll add this to our list of things to go over with legal post MAX. I don't think it will be a huge deal but we should keep them in the loop. I agree with the low priority.

[2013-04-24 22:35] julianasuh commented on #85
Notice to users can be added somewhere users can see. Confirmed with Ann.

[2013-04-25 01:16] pthiess commented on #85
@julianasuh @ryanstewart  My comment was the actual advice from legal. IMHO we should add it - An MIT license like for Brackets and the note mentioned above. What's the problem?

[2013-04-25 01:21] iwehrman commented on #85
I'll paste it wherever you like. I just don't know where to paste it. Are you envisioning that this is in the UI somewhere? Or just at the top of a LICENSE file?

[2013-04-25 01:59] pthiess commented on #85
@ryanstewart - I will send this to Ann to regress.

[2013-04-25 01:59] pthiess commented on #85
@iwehrman : Thanks just added.

[2013-04-25 03:36] bchintx commented on #87
Looks good on my non-retina devices.  The French screenshot appears on French Windows, too.

[2013-04-25 03:36] #87 closed, assigned to bchintx

[2013-04-25 07:33] Zhuyun commented on #73
Verified in build sprint24 7097 on Win&Mac. Fixed then closed.
![EWF_Win7_24_7097](https://f.cloud.github.com/assets/2245172/424023/56068116-ad7a-11e2-883e-2dd4ee1dc7a3.jpg)
![EWF_Mac_24_7097](https://f.cloud.github.com/assets/2245172/424025/5b5a3432-ad7a-11e2-905a-cdccb8090dd6.png)

[2013-04-25 07:33] #73 closed, assigned to ryanstewart

[2013-04-25 16:25] pthiess commented on #85
Verified by legal @ryanstewart - I go ahead and close

[2013-04-25 16:25] #85 closed, assigned to pthiess

[2013-04-26 23:55] ryanstewart opened #91 "New Icon for Edge Web Fonts in Right Sidebar"
@larz0 has created new icons for Edge Web fonts that will replace the old icon.
![webfonts_icon 2x](https://f.cloud.github.com/assets/45450/433418/bc57c2ec-aecc-11e2-9d1d-9c6ff1ad3539.png)
![webfonts_icon](https://f.cloud.github.com/assets/45450/433419/bc56ad30-aecc-11e2-82a8-44093f596937.png)

[2013-04-29 17:13] iwehrman commented on #91
Fixed by #92.

[2013-04-29 17:13] #91 closed, assigned to iwehrman

[2013-04-29 17:13] iwehrman commented on #89
Fixed by #92.

[2013-04-29 17:13] #89 closed, assigned to nobody

[2013-05-08 17:07] iwehrman commented on #77
You can do it, @couzteau!

[2013-05-08 17:09] iwehrman commented on #70
Marking low priority/removing medium priority.

[2013-05-08 17:12] iwehrman commented on #61
Re-assigning to @couzteau.

[2013-05-08 17:15] iwehrman commented on #41
Beaten to death.

[2013-05-08 17:15] #41 closed, assigned to joelrbrandt

[2013-05-08 17:16] iwehrman commented on #36
Re-assigning to @couzteau. (Sucker!)

[2013-05-08 17:17] iwehrman commented on #35
Over to @couzteau! You're doing the lord's work, here!

[2013-05-08 17:18] iwehrman commented on #27
We have full faith in @couzteau on this one.

[2013-05-08 17:19] iwehrman commented on #26
Surely @couzteau can knock this one right off!

[2013-05-08 17:20] iwehrman commented on #22
I'll look into this.

[2013-05-08 17:22] iwehrman commented on #10
@ryanstewart Any thoughts on this? Is this fixed?

[2013-05-08 17:23] iwehrman commented on #9
I'll look into this.

[2013-05-08 17:30] joelrbrandt commented on #26
@couzteau you _might_ be able to fix this in about 30 seconds with something like:

[code]

http://www.w3schools.com/cssref/css3_pr_text-overflow.asp

Or... I might be totally wrong.

[2013-05-08 17:32] iwehrman commented on #26
@joelrbrandt Yes, after we get rid of the Browse Web Fonts stub.

[2013-05-08 18:52] iwehrman commented on #39
Fixed by #97.

[2013-05-08 18:52] #39 closed, assigned to nobody

[2013-05-13 09:58] julieyuan opened #100 "[L10N][FRA][Web Fonts extension]: Unlocalized string for connecting Web Fonts Server failure."
Steps:
​1. Launch the Brackets
2. Click "File" > "Install Extension..."
3. Input the URL of the Edge Web Fonts zip package
4. Click the "Install" button​
5. Disconnect OS network and hover the mouse on the Web fonts icon.

Result:
​The string is unlocalized.

Expected:
​It should be localized

Env: Win
Build: 0.25.0-7369

Screenshot:
![web font-unlocal string-fra](https://f.cloud.github.com/assets

[2013-05-13 16:22] iwehrman commented on #100
@ryanstewart Are you OK with the text of this message in English?

[2013-05-13 16:26] ryanstewart commented on #100
Yup! Looks good to me!

[2013-05-15 18:29] ryanstewart commented on #10
Yup, marking as fixed.

[2013-05-15 18:29] #10 closed, assigned to adrocknaphobia

[2013-05-15 19:53] couzteau opened #104 "Browse WF code hints do not open before EWF is fully initialized"
1. disconnect computer from internet
2. launch EC
3. go to CSS font family style and hit ctrl-space to pop the font hints

result font hint d not open.

[2013-05-15 20:34] couzteau commented on #67
Lower prio since we are not doing this now. May revisit decision

[2013-05-15 20:35] iwehrman commented on #104
I broke it, I'll fix it.

[2013-05-15 23:55] iwehrman commented on #104
Turns out I did not break this. In fact, it never worked! The bad news is that it needs to be fixed in Brackets and is non-trivial to fix. The good news is that I submitted a pull request to fix it: adobe/brackets#3848. The other bad news is that it's kind of a crazy pull request and might not get merged. So I'm marking this fix-in-progress and tracking.

[2013-05-16 16:24] iwehrman opened #106 "Update EWF toolbar icon again"
New icon: http://cl.ly/051F051o0f3t

Discussion here: https://git.corp.adobe.com/edge/edge-code-inspect/issues/5

[2013-05-16 18:14] iwehrman commented on #106
New new icon: http://cl.ly/1Z1j3n2W1C3x.

[2013-05-17 17:11] iwehrman commented on #106
Fixed by #107.

[2013-05-17 17:11] #106 closed, assigned to iwehrman

[2013-05-17 17:12] iwehrman commented on #9
Fixed by #109. @njx: reopen if you disagree.

[2013-05-17 17:13] #9 closed, assigned to iwehrman

[2013-05-17 17:20] iwehrman commented on #104
Still waiting for review on adobe/brackets#3848, which probably won't make it into Brackets Sprint 25.

[2013-05-17 17:32] iwehrman commented on #69
Addressed by adobe/brackets#3848.

[2013-05-17 17:35] iwehrman commented on #104
This issue is closely related to #69.

[2013-05-18 00:07] iwehrman opened #111 "Incorrect background color in search dialog"
![bg](http://f.cl.ly/items/0T3R1x0Q0o293N320s2J/Screen%20Shot%202013-05-17%20at%205.00.02%20PM.png)

This is a result of a very recent Brackets change. Strangely, the style for the offending span already has `background-color: transparent` set.

[2013-05-18 00:08] iwehrman opened #112 "Font script insert dialog has a weird input border"
![border](http://f.cl.ly/items/2v3W2i2n2G1m0f470q0M/Screen%20Shot%202013-05-17%20at%205.00.28%20PM.png)

This is inconsistent with all the other input borders, which are bold and sharp.

[2013-05-18 00:11] njx commented on #112
The fuzzy blue border is the standard Mac focus ring. I bet this is a `<textarea>`, and I think @larz0 only crisped up the focus ring for `<input>`. We should just apply that to `<textarea>` as well.

[2013-05-18 06:06] iwehrman commented on #104
Fixed by adobe/brackets#3848. Closing

[2013-05-18 06:06] #104 closed, assigned to iwehrman

[2013-05-18 06:07] iwehrman commented on #69
Fixed by adobe/brackets#3848. Closing.

[2013-05-18 06:07] #69 closed, assigned to iwehrman

[2013-05-18 07:07] ryanstewart commented on #104
Awesome, thanks Ian!

[2013-05-20 17:50] iwehrman commented on #112
Submitted pull adobe/brackets#3922 to fix. With that patch, the dialog will look like this:

![3922](http://f.cl.ly/items/1W0C01000K370k01342H/Screen%20Shot%202013-05-20%20at%2010.49.32%20AM.png)

[2013-05-20 18:04] larz0 commented on #112
Schweet. BTW I'm wondering if we can replace:

"To ensure that fonts are properly loaded, you must add a script tag to your HTML. Copy the following script tag and paste it into all HTML files that reference this CSS file:"

with

"Add this JavaScript tag to the &lt;head&gt; of your website's HTML that reference this CSS file:" (similar to https://edgewebfonts.adobe.com/fonts)

[2013-05-20 18:17] iwehrman commented on #112
I too think the instructions are worded poorly. My suggestion might be something like the following:

Edge Web Fonts are loaded with JavaScript. To use the fonts you've chosen, paste the following script tag into HTML files that reference this CSS file.

It's not necessarily a good idea to put them script tag in the `<head>`, so I don't think we should recommend that explicitly.

@njx Any thoughts

[2013-05-20 18:30] iwehrman commented on #111
Fixed by #113.

[2013-05-20 18:30] #111 closed, assigned to iwehrman

[2013-05-20 18:32] larz0 commented on #112
Web fonts are the only JS that should go in the &lt;head&gt; instead of the bottom because of Flash of Unstyled Text aka FOUT.

[2013-05-21 00:27] iwehrman commented on #112
@larz0 Oh, right, good point! I'm going to open a fresh issue to track the wording in this dialog.

In the meantime, since adobe/brackets#3922 has been merged, I'm closing this one out.

[2013-05-21 00:27] #112 closed, assigned to iwehrman

[2013-05-21 00:35] iwehrman opened #114 "Script tag dialog is too wordy"
As discussed in #112 with @larz0 and @njx, the current script tag dialog is rather wordy:

![3922](http://f.cl.ly/items/1W0C01000K370k01342H/Screen%20Shot%202013-05-20%20at%2010.49.32%20AM.png)

@larz0 suggested rewording thusly:

[code]

@iwehrman felt the need to add his own suggestion (which he now feels isn't quite right, but isn't yet ready to offer up something better):

[code]

Perhaps PM @

[2013-05-21 01:53] #77 closed, assigned to couzteau

[2013-05-21 01:53] #61 closed, assigned to couzteau

[2013-05-21 02:05] #35 closed, assigned to couzteau

[2013-05-21 02:07] #27 closed, assigned to couzteau

[2013-05-21 02:07] #26 closed, assigned to couzteau

[2013-05-21 09:30] ryanstewart opened #115 "Webfonts Icon No Longer Appears in Instructions"
It looks like with the icon change we lost the icon on the Webfonts Instruction page

![screenshot_5_21_13_2_30_am](https://f.cloud.github.com/assets/45450/540853/1d0767ca-c1f9-11e2-8971-bcaf35c911e9.png)

[2013-05-21 09:31] ryanstewart commented on #115
Marking this high priority because I think it's pretty critical to make sure people know what to click. (Hopefully that's not overkill)

[2013-05-21 09:37] ryanstewart commented on #114
What about:

`To ensure the fonts on your site load correctly add this script tag to the <head> of any HTML files that reference this CSS file.`

 :question:

Should there be a comma in there somewhere :question:

[2013-05-21 12:55] larz0 commented on #114
Comma between "correctly" and "add"?

[2013-05-21 12:56] larz0 commented on #114
BTW the close icon on the top right needs to center vertically in the modal header. Just realized it's been like that since the beginning.

[2013-05-21 16:51] iwehrman commented on #115
Whoopsie daisy. I'll fix it today.

[2013-05-21 17:41] iwehrman opened #117 "Update the instructions picture again"
With @couzteau big menu update, the instructions image is again out of date. It currently looks like this:
![instructions](http://f.cl.ly/items/0A3N0t3l433m0l1A2i1D/Screen%20Shot%202013-05-21%20at%2010.33.13%20AM.png)
But the menu looks like this:
![menu](http://f.cl.ly/items/0A2g1J0O2n2Z3Z0X1w1F/Screen%20Shot%202013-05-21%20at%2010.40.10%20AM.png)

@ryanstewart should have the appropriate layered

[2013-05-21 17:42] iwehrman commented on #117
Marking low priority. I'd like to fix it, but I don't think anyone will be terribly confused until we do.

[2013-05-21 17:56] ryanstewart commented on #114
So this?

To ensure the fonts on your site load correctly, add this script tag to the `<head>` of any HTML files that reference this CSS file.

Does that work for people?

[2013-05-21 19:32] iwehrman commented on #114
@larz0 I'll look into vertically aligning the close button.
@ryanstewart That wording looks good to me.

[2013-05-21 19:43] iwehrman commented on #114
@larz0 It looks like Brackets is still using the Bootstrap-default styling of `<code>` blocks with a light-orange background:

![head](http://f.cl.ly/items/1B0i2P051e2r3f2J0C2k/Screen%20Shot%202013-05-21%20at%2012.38.10%20PM.png)

Think we should submit a Brackets pull to fix that? Otherwise I can just style it manually with a monospace font.

[2013-05-21 20:28] larz0 commented on #114
@iwehrman I can't think of a reason why we would want to highlight an inline code snippet in Brackets right now because the font style is already the differentiator so let's submit a Brackets pull to remove the background color. (Hope I don't get busted this time lol).

[2013-05-21 20:45] iwehrman commented on #114
OK, cool. Who wants it? Flip for it?

[2013-05-21 20:59] larz0 commented on #114
(I already have too many pulls that won't make it into sprint.)

[2013-05-21 21:01] iwehrman commented on #114
I'll lob another one over the fence.

[2013-05-21 23:42] iwehrman commented on #114
Tracking https://github.com/adobe/brackets/pull/3949

[2013-05-22 18:29] iwehrman commented on #115
Closed by #116.

[2013-05-22 18:29] #115 closed, assigned to iwehrman

[2013-05-22 18:31] iwehrman commented on #36
Part 3 is fixed at least...

[2013-05-22 23:37] iwehrman commented on #36
And parts 1, 2 and 4 are addressed by #121.

[2013-05-22 23:38] iwehrman commented on #117
Assigning to @larz0.

[2013-05-22 23:40] iwehrman commented on #5
I'll bet @couzteau is chomping at the bit to fix this one.

[2013-05-22 23:49] larz0 commented on #117
@iwehrman Here's the retina image so just half the dimension in <img>: http://cl.ly/image/1K3D1c1s0P0w.

We should make the  paragraph line-height the same as the list-item line-height because it's slightly to big.

![edgewebfonts_initialdialog_001](https://f.cloud.github.com/assets/1495261/551969/2f85cbca-c33a-11e2-984b-c598617c6cd9.png)

[2013-05-23 16:19] larz0 opened #124 "[XD] It's safe to remove "Adobe" from the extension title"
@iwehrman I asked Joyce Solano and she said it's ok to remove "Adobe" from the extension title. This is the same for Edge Inspect and I'll create a separate issue for that.

[2013-05-23 16:25] ryanstewart commented on #124
Thanks for checking on this @larz0, this is way better :+1:

[2013-05-23 16:48] larz0 commented on #124
Now I can finally sleep at night, sort of.

[2013-05-23 19:43] iwehrman commented on #117
@larz0 Are you advising that I just ship the retina image and let the browser resize it? Or that I resize it first in PS?

[2013-05-23 19:47] iwehrman commented on #117
This image also needs to be updated in French. @ryanstewart, any thoughts about whether I should hold off on updating this image?

[2013-05-23 21:20] larz0 commented on #117
@iwehrman for an instructional image I think it's okay to let the browser resize it. I'll work on the French image.

[2013-05-23 21:59] iwehrman commented on #124
Fixed #125.

[2013-05-23 21:59] #124 closed, assigned to iwehrman

[2013-05-23 22:06] iwehrman commented on #36
FBNC to @RaymondLim.

[2013-05-23 23:13] larz0 commented on #117
@iwehrman here's the french image: http://cl.ly/image/1H330q083I1B

[2013-05-23 23:29] larz0 opened #127 "[UI] Font Selection Border Color"
Right now the border is orange:
![screen shot 2013-05-23 at 4 25 09 pm](https://f.cloud.github.com/assets/1495261/557896/8954d0b2-c400-11e2-9c4f-de2f4f4ac593.png)

It should be blue (#288EDF):
![screen shot 2013-05-23 at 4 24 41 pm](https://f.cloud.github.com/assets/1495261/557897/9a113aa8-c400-11e2-9b01-715b0fb2e470.png)

[2013-05-23 23:30] couzteau commented on #22
PR was not sufficient covering all edge cases

[2013-05-25 05:09] couzteau commented on #36
now possible to select any font by keyboard navigation only. tabbing works fine. cursor keys behave predictably and in a useful way. closing

[2013-05-25 05:09] #36 closed, assigned to couzteau

[2013-05-25 05:14] couzteau commented on #54
fix verified for #2, hints open before comma though w/o usefule hints. downgrading to low

[2013-05-25 05:15] couzteau commented on #5
verified.

[2013-05-29 18:56] couzteau commented on #127
Is there a larger EWF UI overhaul coming up? Should we wait?

[2013-05-29 18:58] couzteau commented on #114
merged fix- closing

[2013-05-29 18:58] #114 closed, assigned to nobody

[2013-05-29 19:01] couzteau commented on #67
Should we close or do this in sprint 4?

[2013-05-29 19:22] ryanstewart commented on #67
I don't think this is something we'll be prioritizing any time soon. Maybe we create a card on the backlog and then close it.

[2013-05-29 19:28] larz0 commented on #127
@couzteau There are talks but it hasn't been designed. We should correct this since orange is not really being used in the visual language (warnings are orange but that's about it).

[2013-05-29 19:32] iwehrman commented on #127
I will fix this.

[2013-05-29 19:36] larz0 commented on #127
![1kx2zh1tv6j8vog](https://f.cloud.github.com/assets/1495261/581113/fcb50d98-c896-11e2-9d8a-ca4af114719b.gif)

[2013-05-29 22:14] iwehrman commented on #100
@Zhuyun Can you help us out with this one for Sprint 4?

[2013-05-30 00:08] iwehrman opened #133 "Modal dialogs are broken on Brackets sprint 26"
It looks like this:

![26](http://f.cl.ly/items/3I2f3u2O0j173X16123p/Screen%20Shot%202013-05-29%20at%204.27.13%20PM.png)

[2013-05-30 00:09] iwehrman commented on #133
The problem seems to be related to adobe/brackets#3086. I've put in a request there for more information.

[2013-05-30 00:13] iwehrman commented on #127
Fixed by #131.

[2013-05-30 00:13] #127 closed, assigned to iwehrman

[2013-05-30 03:01] julieyuan commented on #100
Checked this issue in latest build  0.26.0-7736. This string has already been localized. So closed it . Please refer to snapshot:
![100 fixed](https://f.cloud.github.com/assets/4251563/583015/2fe4592e-c8d5-11e2-8043-44890c72802e.png)

[2013-05-30 03:01] #100 closed, assigned to Zhuyun

[2013-05-30 07:58] julieyuan opened #135 "[L10N][French][Edge Web Fonts]: The brand for extension title should be consistent with ENU."
Steps:
1. Launch Edge Code.
2. Click the EWF icon on the top right of Edge Code. It will pop up a page and close it.
3. Open a CSS file , and input  font-family, press Ctrl+Space to show the submenu.
4. Click browse Web Fonts....

Results:
The brand is "Adobe Edge Web Fonts", which is inconsistent with ENU "Edge Web Fonts"

Expected:
It should be consistent with ENU brand.

ENV: Win8 FRA
Build: 0.

[2013-05-30 19:35] iwehrman commented on #133
@TomMalbran wrote up a nice summary of the modal changes [here](https://github.com/adobe/brackets/wiki/Release-Notes:-Sprint-26#api-changes).

[2013-05-31 18:00] #133 closed, assigned to nobody

[2013-05-31 18:05] iwehrman opened #137 "Terms of Use links are misaligned after Brackets modal dialog updates"
They look like this:

![tou](http://f.cl.ly/items/0S0k3E1x013n3M3T1c37/Screen%20Shot%202013-05-31%20at%2011.01.46%20AM.png)

The link should be left-aligned and vertically centered within the footer.

[2013-05-31 18:13] iwehrman commented on #117
Fixed by #134.

[2013-05-31 18:13] #117 closed, assigned to larz0

[2013-06-04 16:23] iwehrman commented on #137
Fixed by #138.

[2013-06-04 16:23] #137 closed, assigned to iwehrman

[2013-06-05 16:36] pthiess commented on #5
Moved out to Sprint 5 as suggested by @couzteau.

[2013-06-09 18:45] ghost opened #140 "'Browse Web Fonts' not working"
When I click 'Browse Web Fonts' nothing appears.
![capturar](https://f.cloud.github.com/assets/2386029/629220/bef63d3c-d134-11e2-81df-eda47f6675eb.png)

[2013-06-10 16:17] iwehrman commented on #140
There have been some recent updates to accommodate breaking changes in Brackets. We probably were too aggressive about pushing those changes out to master. Are you using the Brackets Sprint 25 build?

[2013-06-10 17:16] ghost commented on #140
Well, I'm using: sprint 25 experimental version 0.25.0-7701 (master e664a00d0)

[2013-06-10 23:55] iwehrman commented on #140
If you're git-savvy, you might try pulling the [Brackets JavaScript files from source](https://github.com/adobe/brackets) and running the current version of EWF from there. Or, alternately, try rolling back EWF to the slightly older [Edge Code Preview 4 branch](https://github.com/adobe/brackets-edge-web-fonts/tree/edge-code-preview-4-branch). If neither of those fixes the problem, please let me kn

[2013-06-14 23:40] iwehrman commented on #140
Closing because this is fixed as of Brackets Sprint 26.

[2013-06-14 23:40] #140 closed, assigned to nobody

[2013-06-17 03:14] Zhanxin opened #141 "[I18N]: The non-English characters display incorrectly on Android device when use the "bonbon" font"
Steps:
1. Launch the Edge Code and Edge Inspect
2. On CSS file, add the Edge Web Font "bonbon" behind the font-family, and copy the script to the html
3. Make sure that there are some non-English characters on the html file
4. Connect to an Android device to preview the html file

Result: The non-English characters display incorrectly, just like birds
Expect: The non-English characters could displ

[2013-06-17 17:35] iwehrman commented on #141
Marked as an enhancement.

[2013-06-17 18:08] couzteau commented on #141
see discussion in https://git.corp.adobe.com/edge/edge-code-inspect/issues/24

[2013-06-17 18:15] couzteau commented on #8
related https://github.com/adobe/brackets-edge-web-fonts/issues/70

[2013-06-17 20:55] iwehrman commented on #135
I don't see this on master:

![help](http://f.cl.ly/items/2X140r35020r2C2J1V1n/Screen%20Shot%202013-06-17%20at%201.51.20%20PM.png)

![picker](http://f.cl.ly/items/0e3C1s0R173t2Q1w0d13/Screen%20Shot%202013-06-17%20at%201.52.56%20PM.png)

[2013-06-18 02:27] julieyuan commented on #135
Checked this issue in Brackets 0.27.0.8106 and Edge Code 0.94.0-359080676, it doesn't reproduce. I think it is fixed in latest build. So close it.

[2013-06-18 02:27] #135 closed, assigned to iwehrman

[2013-06-18 10:53] julieyuan opened #142 "[L10N][German]: Overlocalized Edge Web Fonts page and tooltip in German OS."
Steps:
1. Go to web page: creative.adobe.com
2. Download Edge Code Preview 4 release build.
3. Install Edge Code and launch it.
4. Hover the mouse on the Edge Web Fonts icon on the top right of Edge Code, then click the icon to bring up Edge Web Fonts page

Results:
The tooltip for the icon and the pop up page are overlocalized.

Expected:
They should stay in English on non-French OSes.

ENV: Germ

[2013-06-21 20:55] iwehrman commented on #142
Uh, do we actually want to turn off German localization here? I agree that it would be better if the whole product were localized, but might something be better than nothing? Any opinion, @pthiess @couzteau @ingorichter?

[2013-06-28 23:44] couzteau commented on #5
PR https://github.com/adobe/brackets-edge-web-fonts/pull/143 fixes the issue

[2013-07-09 20:46] iwehrman opened #145 "No EWF hints provided after finishing font-family property in new session"
@bchintx Found this one.

Place the cursor after the `y` in the following CSS snippet:

[code]

Make sure you aren't in a hinting session, and then type `:`. Ideally EWF would provide its font hints, but instead the CSS hinter provides its limited set of font hints. Note that if you are already in a hinting session when typing `y:` then the EWF hinter correctly provides the hints.

I've confirmed

[2013-07-22 18:28] bchintx commented on #142
submitted fix as Pull Request #146.

Removed German ("de") from master list of supported language translations (ie. nls/strings.js).  Left the actual translated content in-place though for future use.  When we want to re-enable the German translation (ie. when the rest of Edge Code supports German), then we can just re-add this one line.

[2013-07-24 21:27] couzteau commented on #142
verified fix. Will go out with the next pre release drop

[2013-07-25 05:23] julieyuan commented on #142
Fixed in Brackets master 0.28.0.8522 build. Not fixed in Edge Code 0.95.0-359081203 build yet. Will check it again in later Edge Code build. Here is the snapshot in master:
![bildschirmfoto 2013-07-24 um 10 16 03 pm](https://f.cloud.github.com/assets/4251563/853696/3e57234c-f4ea-11e2-8e57-2aa0407353d1.png)

[2013-07-25 15:36] bchintx commented on #142
Re-opening this issue.  Per Julie's comment, please note that this fix won't be available until EWF is merged into EdgeCode via this pull request: https://git.corp.adobe.com/edge/edge-code/pull/190

[2013-07-25 19:53] bchintx commented on #142
Pull Request 190 has been merged.  Confirmed that this is now fixed in Edge Code master branch, and should be available to Julie in the next build.

@julieyuan please close this issue when you've confirmed the fix.  Thanks!

[2013-07-26 02:21] julieyuan commented on #142
Fixed in Edge Code  build 0.95.0-359081293. Please refer to snapshot:
![bildschirmfoto 2013-07-25 um 7 12 20 pm](https://f.cloud.github.com/assets/4251563/860164/fef90aac-f599-11e2-9d56-2c9dd0eda3cb.png)

[2013-07-26 02:21] #142 closed, assigned to julieyuan

[2013-08-13 18:06] couzteau commented on #5
submitted new PR.

[2013-08-15 22:30] #5 closed, assigned to couzteau

[2013-08-15 22:44] joelrbrandt commented on #5
![giphy](https://f.cloud.github.com/assets/908679/972457/4dae2afc-05fc-11e3-94b2-26cf5b69c6af.gif)

[2013-08-22 07:47] julieyuan opened #150 "[Core][Blackletter fonts]: Name of UnifrakturMaguntia fonts is trucated on the Edge Web Fonts dialog."
Steps:
1. Launch Brackets.
2. Install Edge Web Fonts extension into Brackets.
3. Open a css file and input `font-family:` to select `Browse Web Fonts...` from the code hints.
4. Click Blackletter tab on the Edge Web Fonts dialog and click the font UnifrakturMagunitia( the last one).

Result:
Its name cannot appear completely.

Expected:
Its name should display well.

ENV: MAC 10.8 and Win8.1 Engli

[2013-09-05 06:52] julieyuan opened #152 "[L10N][toolbar icon][French]: The EWF toolbar icon is not at the end of buttons div when launching it first time."
Steps:
1. Install Edge Code on a clean French OS.
2. Launch Edge Code.

Result:
The EWF toolbar icon is at not at the end of buttons div.

Expected:
According pull request #151, it should be at the end of bottons div.

Notes:
This issue only reproduce at the first time launching. If you reload Edge Code , it will not happen.

ENV: MAC 10.9 and Win7 x64 French OS
Build: 0.96.0-359082271

Snapshots:

[2013-09-05 16:22] iwehrman commented on #152
It doesn't actually need to be the very last icon, it just needs to be below the Brackets-standard Live Preview and Extension Manager icons. So, closing this as not-a-bug.

[2013-09-05 16:22] #152 closed, assigned to nobody

[2013-09-06 02:53] julieyuan commented on #152
Ok, got it. Thanks.

[2013-09-10 00:00] iwehrman opened #154 "Terms of Use link doesn't work in Brackets sprint 31"
Found by @larz0. It's entirely possible that whatever changed in Brackets that broke this broke other things too, so we should do a little more testing than usual when we (Edge Code) does our next merge.

[2013-09-10 00:01] iwehrman commented on #150
Good catch, @julieyuan! Nominating for Sprint 9.

[2013-09-10 00:02] iwehrman commented on #154
Marking high priority and nominating for Sprint 9.

[2013-09-13 17:55] pthiess commented on #154
@iwehrman

[2013-09-13 20:27] bchintx commented on #154
Marking FBNC since pull request was merged.

[2013-09-13 21:38] iwehrman commented on #154
I filed this, so I'm closing it. @larz0: please re-open if you aren't satisfied with the fix.

[2013-09-13 21:38] #154 closed, assigned to iwehrman

[2013-09-16 16:35] couzteau commented on #22
This should be closed. Fix has been merged

[2013-09-16 16:35] couzteau commented on #22
Fix merged https://github.com/adobe/brackets-edge-web-fonts/pull/149

[2013-09-16 16:36] couzteau commented on #150
fixed. closing

[2013-09-16 16:36] #150 closed, assigned to nobody

[2013-09-16 22:02] couzteau commented on #5
@joelrbrandt :)

[2013-09-17 06:25] julieyuan commented on #150
checked this issue with latest extension build. It is fixed. Here is the snapshot:
![1111](https://f.cloud.github.com/assets/4251563/1155080/ef129454-1f61-11e3-9aad-df1042b40fe1.png)

[2013-10-16 09:12] julieyuan opened #158 "[Core][Browse dialog][Brackets]: The Browse dialog is clipped at the top."
Steps:
1. Launch Brackets and install EWF extension (from which is under Avaliable tab on Extension Manager dialog, or from the URL:https://github.com/adobe/brackets-edge-web-fonts).
2. Open a css file and input `font-family:`
3. Press `Ctrl+Space` to bring up context menu, select: Browse Web Fonts...
4. It will pop up the Browse dialog and observe.

Result:
The dialog is at the top of the Bracket

[2013-10-16 09:49] julieyuan opened #159 "[L10N][More info link][French]: Link More info on Extension Manager dialog should redirect to French page."
Steps:
1. Launch Brackets.
2. Clikc Extension Manager icon on the right side to bring up Extension Manager dialog.
3. Seach EWF extnsion under Avaliable tab and install it.
4. Hover the mouse on the link More info... and click it.

Result:
It shows English webpage URL and redirect to English webpage.

Expected:
As there is French page for this info, what I expected is to redirect to French page in

[2013-11-20 05:19] dalcala commented on #158
I can repro this issue using Edge Code 0.97.0-359084096 on a Win 7 x86 VM & Win 8.1 x64 VM.  Seems to only repro if I make the Edge Code window not very tall (easy to do on a VM).

![ewf-158](https://f.cloud.github.com/assets/1512954/1579674/4a3fd648-51a3-11e3-8794-87b72399fd10.png)

[2013-11-20 05:22] couzteau commented on #158
related git/edge/edge-code/issues/366

[2013-11-20 21:47] couzteau commented on #158
Pushed updated SHA to EC with https://git.corp.adobe.com/edge/edge-code/pull/374

[2013-11-21 00:13] dalcala commented on #158
Confirmed fixed using Edge Code build 0.97.0-359084113 on Win 7 x64 & Mac 10.8.5.  Closing.

[2013-11-21 00:13] #158 closed, assigned to nobody

[2013-11-21 02:46] zhouweiwei1991 commented on #158
Fixed in build 0.97.0-359084115.Here are snapshots for reference:
![0 97 0-359084115](https://f.cloud.github.com/assets/5466232/1588678/de2cb548-5256-11e3-95b7-af7b87b95b95.jpg)

[2013-11-21 02:51] pthiess commented on #158
+1 nice work

[2013-12-05 04:29] anlawande opened #161 "Sizing issue when window undocked"
Hi, I'm finding that when my brackets window is not fully maximized, the edge fonts popup is lost slightly on the above side.

I also recommend putting in a scroll bar. As by looking at it, it's not intuitive that there are more fonts to browse below.

![edgefonts](https://f.cloud.github.com/assets/4571767/1680015/67fd674a-5d65-11e3-9136-58ea42e1647f.jpg)

[2013-12-05 15:59] redmunds commented on #161
I made a fix for that a couple weeks ago, so be sure you have the latest code for this extension.

[2013-12-05 17:12] #161 closed, assigned to nobody

[2013-12-06 08:18] julieyuan opened #162 "[Core][Edge Web Fonts Terms of Use]: The link Terms of Use cannot be opened by keyboard key."
Steps:
1. Launch Edge Code and open index.html file.
2. Click the EWF icon on the right sidebar to bring this Edge Web Fonts dialog.
3. Press Tab key and it will focus the link Edge Web Fonts Terms of Use.
4. Press Enter key.

Result:
The dialog closes and nothing happen.

Expected:
The webpage related to the link should be opened and the EWF dialog is not closed.

ENV: MAC10.9 and Win8(x86) Engli

[2014-01-28 18:26] iwehrman opened #163 "Code hint menu is completely disabled"
To reproduce, place the cursor in a `font-family` value (for example; it seems to happen in other locations) and request code hints.

[code]

I'm on master everywhere: b71d15449ede700465de6652bcc77b41d2df0e96 in EWF e1c3b88191774447824d784faed5fbbdd9806219 in Brackets.

Marking this high priority since EWF code hints are completely broken.

CC @couzteau

[2014-01-28 21:53] couzteau commented on #163
confirming bug in Brackets master at `e1c3b88`
No bug in S35 release.

[2014-01-29 00:05] redmunds commented on #163
FBNC back to @iwehrman

[2014-01-29 00:23] iwehrman commented on #163
The menu works, but now it seems that the initial font scan and/or query-string filtering is broken. For example, in test/style.css I see this:

!["filter"](http://cloud.wehrman.org/image/3R1N1j0v3f1b/Image%202014-01-28%20at%204.20.43%20PM.png)

Note that it's not picking up the adamina font. It also doesn't seem to be able to filter the "Abril-fatFace" value above, even though "abril-fatface" som

[2014-01-29 00:47] RaymondLim commented on #163
@iwehrman I didn't see the issue you're seeing. Are you sure you have all the changes from that pull request? I made the last commit in that pull request that should fix the issue you're seeing.

[2014-01-29 01:00] iwehrman commented on #163
I'm at cb8fe8bf715106074be8d43481d4af6459555285 on Brackets and cc63d99cf54951516a1828711fdbde6287a19223 in EWF.

[2014-01-29 01:10] redmunds commented on #163
@iwehrman I saw that when testing. I assumed that it was not showing fonts that were already applied. Is that not how it worked before?

[2014-01-29 01:13] iwehrman commented on #163
Ohhh yeah, that sounds right. OK then, LGTM.

[2014-01-29 01:13] #163 closed, assigned to iwehrman

[2014-02-12 19:21] le717 opened #165 "Remove "x" buttons in dialogs"
The dialog "x" buttons should be removed per them being removed in Brackets Sprint 36. Part of point 3 (cancel button) in #6 might need to be done in order to close the dialogs.

If this sounds good to you, I'll see about doing it myself and submitting a PR soon. :smiley:

[2014-02-12 20:02] redmunds commented on #165
It's all yours. Thanks.

[2014-02-14 21:13] #165 closed, assigned to nobody

[2014-02-19 10:17] thany opened #167 "Feature Request: add to menu"
I don't see this plugin doing anything whatsoever. I don't see a menu item being added, nor a context menu item, not anything anywhere. Plus, there's no documentation.

So this issue describes two things: first of all, it doesn't work. Secondly, lack of instructions.

[2014-02-19 15:40] redmunds commented on #167
You can find more info about Edge Web Fonts at: http://html.adobe.com/edge/webfonts/

Summary:
- Click icon (cloud with a "T") in toolbar on right to get info dialog
- In your stylesheet, type "font-family:" then click "Browse Web Fonts..."
- After you have chosen a web font, click icon again to get script to copy so you can paste it in your html page.

[2014-02-19 16:25] le717 commented on #167
@thany Is the circled icon not visible in the toolbar?
![](https://f.cloud.github.com/assets/3382464/2208621/cfb4c722-9981-11e3-8845-0573b5eac87f.png)

If you click that, a short how-to on using it will come up. I just installed it myself from the registry using Sprint 36 and it works fine.

As for no menu item, that code is present but is not activated. [Line 515](https://github.com/adobe/bracket

[2014-02-20 12:23] thany commented on #167
Apparently the right sidebar is the only place I didn't look for any new things, and it doesn't really stand out. Besides, I didn't see any instructions. If you at least put the screenshot above in the readme.md (that means making a readme.md in the first place O.o) that would be a big help to other newcomers.

But yeah, I would opt for a menu item as well. The requirement of going into a font-fam

[2014-03-31 22:03] JeffryBooher opened #168 "Using more than 1 Edge Web Font in a CSS is Impossible"
1. Create a new project
2. Create a CSS file (css file should be open in brackets)
3. Install the EWF extension if you haven't already
4. add `p { font-family:` and browse for ewf and select a font then close out the rule.
5. add `div { font-family:` and browser for a different font then close out the rule.
   (note: for both rules for completeness i add `sans-serif` but that should be default for

[2014-03-31 22:04] JeffryBooher commented on #168
Moved from brackets https://github.com/adobe/brackets/issues/7318

[2014-04-23 15:34] redmunds commented on #168
@JeffryBooher Can you post your code? The script generated seems to include multiple fonts for me.

[2014-04-23 15:36] redmunds commented on #167
Old subject: Doesn't do anything

Change Subject to: Feature Request: add to menu

[2014-04-23 15:41] redmunds opened #171 "Cannot access all fields in dialog via keyboard"
When trying to navigate dialog using keyboard:
- can only Tab to Font names, Cancel using _reverse_ tabbing (Shift-Tab) (Windows-only)
- cannot tab to type (heading vs paragraph) or group (Serif, Script, ...) fields
- left/right arrow keys sometimes bubble up to doc (Windows-only)

[2014-04-23 15:44] redmunds opened #172 "Cannot generate script from HTML file"
I have an HTML file with styles embedded in a `<style>` tag. Code Hinting and Browse Web Fonts dialog work correctly, but I cannot generate script in HTML file (even if selection is in CSS part of doc).

[2014-04-23 15:46] redmunds opened #173 "High-ASCII breaks search functionality"
After pasting the ã char into the search field, no more filtering is done.

[2014-10-30 23:14] marcelgerber opened #175 "PreferencesManager.convertPreferences() is deprecated"
The new Preferences System in Brackets was introduced in Sprint 36 (released February 2014) and now that pretty much all remains of the old system are gone (that is, converted to the new format), the conversion function `PreferencesManager.convertPreferences()` is about to be removed in the near future, probably in Release 1.1. Your extension makes use of this method and thus, it'll probably not w

[2014-11-13 16:59] le717 commented on #175
Half of this (using the new API) was fixed with #169, but it looks like the change made in #174 to restore 1.0 and use the preferences was support were never pushed to the registry. @redmunds @jadbox Can we get the latest changes pushed to the registry so users can have their preferences converted, then this extension be updated to solely use the new system?

[2014-11-13 17:33] berteh commented on #172
me too (brackets 1.0, extension adobe-edge-web-fonts 0.1.6)

embedding the webfont name in css works great.
Extension icon nevers becomes green when I locate my pointer in html file, and clicking on it thus bring up the "info/main" dialog instead of generating the expected html script line.

[2014-11-13 21:15] redmunds commented on #175
@le717 PR #174 updated the version number in package.json to `0.1.6` and that's what's on the Registry, so it's up-to-date, correct?

[2014-11-13 21:18] le717 commented on #175
@redmunds Sorry about that. It does seem to be updated. I must have missed seeing that after you didn't have permission to update it.

[2014-12-22 21:03] #175 closed, assigned to nobody

[2016-08-12 14:50] jgstratton opened #177 "dontCloseTags option is being ignored."
Not sure what I'm doing wrong here.  I tried a cfbrackets extension and everything worked except the dontclosetags list.  So I tried to change my preferences manually and still can't get brackets to listen to the closeTags.dontCloseTags array.

Tried reloading with and without extensions... still couldn't get it to work.

Here are the contents of my brackets.json file:

{
    "fonts.fontSize": "12

[2016-08-12 14:53] jgstratton commented on #177
Put this in the wrong place... sorry.

[2016-08-12 14:53] #177 closed, assigned to nobody

[2018-06-13 18:26] filmaj opened #178 "Is this project still active?"
Hello @adobe/brackets and @adobe/brackets-admin teams,
My name is Fil and I’m from Adobe’s Open Source Office. I see this project has been inactive for a long time. Just wondering: is there still value in keeping this project around? Do we foresee community usage/activity happening around this project? There used to be quite a bit of community activity in the issue tracker, at least.

If yes, can

[2018-12-07 13:33] greenkeeper[bot] opened #179 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2020-05-29 16:25] #179 closed, assigned to nobody